<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Otopark Yönetim Sistemi </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="assets/otopark-yonetmeligi.jpg" alt="">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">Otopark Yönetim Sistemi Ana Sayfası</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Home">Home</a></li>
                    <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Kullanicilars" asp-action="Index" >Kayıt</a></li>
                    <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Araclars" asp-action="Index">Araç</a></li>
                    <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="GirisCikisKayitlaris" asp-action="Index">Giriş Çıkış Kayıtları</a></li>
                    <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Rezervasyonlars" asp-action="Index">Rezervasyonlar</a></li>
                    <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="ParkYerleris" asp-action="Index">Park Yerleri</a></li>
                    <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Odemelers" asp-action="Index">Ödemeler</a></li>
                    <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Demo" asp-action="Index">Cascade</a></li>
                    <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Fiyatlandirmas" asp-action="Index">Fiyatlandirma</a></li>
                    <li class="nav-item">
                        <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Logout">Log Out</a>
                    </li>




                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Otopark Yönetimini Daha Kolay Hale Getirin!</h1>
                        <p class="lead text-white-50 mb-4">Otopark yönetiminde devrim yaratacak bir çözüm arıyorsanız, aradığınız her şey burada! Otopark Yönetim Sistemi Web Uygulaması ile park yeri yönetimini, rezervasyonları, ödemeleri ve daha fazlasını tek bir platformda gerçekleştirin. Kullanıcı dostu arayüzümüz ve gelişmiş özelliklerimiz ile otopark yönetimi artık hiç olmadığı kadar kolay ve etkili!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">
                        Kolay Kullanıcı Yönetimi:

                    </h2>
                    <p>Kullanıcıların sisteme hızlıca kayıt olmasını, giriş yapmasını ve profil bilgilerini yönetmesini sağlayan güvenli bir altyapı sunar. Yetkilendirme sistemi ile kullanıcıların rollerine göre erişim haklarını düzenleyin.</p>
                    <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">
                        Park Yeri ve Rezervasyon Yönetimi:
                    </h2>
                    <p>Park yerlerinizi kolayca ekleyin, düzenleyin ve yönetin. Kullanıcılar, istedikleri tarih ve saat aralıklarında park yeri rezervasyonu yapabilirler. Rezervasyon durumlarını takip ederek otoparkınızı etkin bir şekilde yönetin.</p>
                    <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">
                        Hızlı ve Güvenli Ödeme İşlemleri:
                    </h2>
                    <p>Kredi kartı, nakit ve diğer ödeme yöntemleri ile hızlı ve güvenli ödeme işlemleri yapın. Ödeme geçmişini detaylı bir şekilde görüntüleyin ve makbuzlarınızı kolayca indirin.</p>
                    <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- Contact section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
